.footer i{
    font-size: 2em;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(2, 82, 202);
    margin: 0px;
    padding: 0px;
}
.footer{
    text-decoration: none;
    text-align: center;
    margin: 40px;
}
.footer__section h4{
    font-size: 16px;
    font-weight: 700;
    font-weight: bold;
    padding-top: 5px;
    color: var(--GrisOscuro);
} 
.footer__section p{
    font-size: 12px;
    color: var(--GrisOscuro);
    padding-bottom: 35px;
}
.footer__section--copi{
    display: flex;
    justify-content: center;
    color: var(--GrisOscuro);
    padding-top: 15px;
 }

@media (min-width: 768px){
     .footer__section{
        display: flex;
        flex-wrap: nowrap;
     }
     .footer__section p{
        font-size: 12px;
        color: var(--GrisOscuro);
        padding: 5px 35px;
     }
     .footer__section--copi{
        display: flex;
        justify-content: center;
        color: var(--GrisOscuro);
        padding-top: 15px;
     }
}
@media (min-width: 1024px) {
    .footer__section--copi{
        padding-top: 25px;
     }
}