.header{
    /* background-image: linear-gradient(to bottom right, #f0e5af, #EAC926, #f0eacc, #EAC926); */
    background-color: var(--Amarillo);
    
}   
.header__section--index{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 15px;
    
} 
.header p{
    width: 100%;
    font-size: 12px;
    padding: 0px;
    text-align: center;
    margin: 5px;
}

.header .cont-logo{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content:left;  
}
.header .logo{
      width: 90%;
}
.header__div--cuadro{
    display: flex;
    width: 50%;
    text-align: left;
    margin-bottom: 0px;
    position: relative;

}
.header__div--cuadro input{
    width: 100%;
    height: 23px;
    font-size: 15px;
}
.header i.fa-solid.fa-magnifying-glass{
    background-color: white;
    width: 11px;
    height: 11px;
    top: 6px;
    right: 9px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
    margin-top: 0px;
    padding: 0px;
    font-size: 17px;
    position: absolute;
}
.header__nav{
    display: none;
   
}
.header__nav--tienda{
    color: black;
    padding: 0;
}
.header__nav--log{
    margin: 5px 0px 5px;
    color: black;
    padding: 0;
}
.burger-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.burger-menu i.fas.fa-bars{
    background-color: rgb(2, 82, 202);
    width: 46px;
    height: 45px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 25px;
}


@media (min-width: 480px){
    .header__nav{
        display: flex;
        flex-direction:row;
        justify-content:space-between;
        text-align: left;
        margin-top: 5px;
        font-size: 12px;
        }
        .header__nav--tienda{
            display: flex;
            width: 40%;
            flex-direction: row;
            justify-content: space-around;
        }
        .header__nav--log{
            display: flex;
            width: 40%;
            flex-direction: row;
            justify-content: space-around;
        }
    .burger-menu{
        display: none;
    }
    .header p{
        width: 33%;
        font-size: 12px;
        padding: 0px;
        text-align: center;
        margin: 0;
    }
    
    .header .cont-logo{
        width: 33%;
        display: flex;
        flex-direction: row;
        justify-content:left;  
    }
    .header .logo{
          width: 90%;
    }
    .header__div--cuadro{
        display: flex;
        width: 33%;
        text-align: left;
        margin-bottom: 0px;
        position: relative;
    
    }
    .header__div--cuadro input{
        width: 100%;
        height: 23px;
        font-size: 15px;
    }
    .header i.fa-solid.fa-magnifying-glass{
        background-color: white;
        width: 11px;
        height: 11px;
        top: 6px;
        right: 9px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: black;
        margin-top: 0px;
        padding: 0px;
        font-size: 17px;
        position: absolute;
    }
}
@media (min-width: 791px) {
   .burger-menu{
        display: none;
    }
}