.login{
    width: 96%;
    padding: 10px 15px;
} 
.login .container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    justify-content:flex-start;
    margin-bottom: 20px;
    margin-top: 20px;
}
.login .container input{
    width: 100%;
    padding:5px;
    border-color: var(--GrisClaro);
    border-style: none;
    color: var(--GrisOscuro);
    font-style: italic;
    
   
}
.login button{
    width: 100%;
    background-color: var(--Celeste);
    margin-top: 30px;
    padding: 5px;
    border-color: var(--Celeste);
    border-style: none;
    border-radius: 3px;
    margin-bottom: 20px;
}
.login button{
    color: white;
}
.login button a{
    color: white;
}


@media (min-width:768px){
    .login{
        display: flex;
        width: 75%;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }
}



@media (min-width:1024px){
    .login{
        display: flex;
        width: 65%;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }
}