<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <script src="https://kit.fontawesome.com/d9eb1b8442.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body class="body">
    <header class="header">
        <section class="header__section--index">
            <div class="cont-logo">
                <img class="logo" src="/images/logo-mercado-liebre.svg" alt="logo">
            </div>
            
            <div class="header__div--cuadro">
                <input type="search" id="busqueda" name="q" placeholder="buscar productos, marcas"/>
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <p>
                <i class="fa-solid fa-hand-holding-dollar"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </p>
        </section>
        <nav class="header__nav">
            <ul class="header__nav--tienda">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul class="header__nav--log">
                <li><a href="">Crea tu cuenta
                    <i class="fa-regular fa-address-card"></i>
                </a></li>
                <li><a href="">Ingresa 
                    <i class="fa-solid fa-right-from-bracket"></i>
                </a></li>
                <li><a href="">Mis compras 
                    <i class="fa-solid fa-basket-shopping"></i>
                </a></li>
            </ul>
        </nav>
        <div class="burger-menu" >
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main class="main">
        <!-- benner -->
        <section class="main__section--banner">
            <img class="main__section__img" src="/images/img-home-banner.jpg" alt="" width="100%">
        </section>
    
        <span>Basado en tu ultima visita</span>
        <section class="main__section">
            <article class="main__section__article">
                <img class="img" src="/images/img-cafetera-moulinex.jpg" alt="cafetera moulinex" width="200px">
                    <div class="main__section__article__div">
                        <div class="main__section__article__div--truck">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="main__section__article__div--precio">
                            <h2>$6.770</h2>
                            <p class="main__section--descuento">40% OFF</p>
                        </div>
                        <h2 class="main__section--descripcion">Cafetera Moulinex</h2>
                    </div>
            </article>
            <article class="main__section__article">
                <img class="img" src="/images/img-macbook-pro-2019.jpg" alt="MacBook pro" width="200px">
                    <div class="main__section__article__div">
                        <div class="main__section__article__div--truck">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="main__section__article__div--precio">
                            <h2>$230.000</h2>
                            <p class="main__section--descuento">20% off</p>
                        </div>
                        <h2 class="main__section--descripcion">MacBook Pro 2019</h2>
                    </div>
            </article>
            <article class="main__section__article">
                <img class="img" src="/images/img-samsung-galaxy-s10.jpg" alt="celular Samsung galaxy s10" width="200px">
                    <div class="main__section__article__div">
                        <div class="main__section__article__div--truck">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="main__section__article__div--precio">
                            <h2>$70.500</h2>
                            <p class="main__section--descuento">10% off</p>
                        </div>
                        <h2 class="main__section--descripcion">Samsung Galaxy S10</h2>
                    </div>
            </article>
            <article class="main__section__article">
                <img class="img" src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung" width="200px">
                <div class="main__section__article__div">
                    <div class="main__section__article__div--truck">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="main__section__article__div--precio">
                        <h2>$23.200</h2>
                        <p class="main__section--descuento">5% off</p>
                    </div>
                    <h2 class="main__section--descripcion">SmartTv Samsung 43"</h2>
                </div>
            </article>
        </section>
        <span>Ofertas para vos.</span>
        <section class="main__section">
            <article class="main__section__article">
                <img class="img" src="/images/Motorola Edge 30.webp" alt="Celular Motorola" width="200px">
                    <div class="main__section__article__div">
                        <div class="main__section__article__div--truck">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <h5><del>$110.999</del></h5>
                        <div class="main__section__article__div--precio">
                            <h2>$99.999</h2>
                            <p class="main__section--descuento">16% off</p>
                        </div>
                        <h2 class="main__section--descripcion">Motorola Edge 30 128 GB gris 8 GB</h2>
                    </div>
            </article>
            <article class="main__section__article">
                <img class="img" src="/images/Ventilador de Pie.webp" alt="Ventilador Peabody" width="200px">
                    <div class="main__section__article__div">
                        <div class="main__section__article__div--truck">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <h5><del>$15.999</del></h5>
                        <div class="main__section__article__div--precio">
                            <h2>$13.999</h2>
                            <p class="main__section--descuento">12% off</p>
                        </div>
                        <h2 class="main__section--descripcion">Ventilador de pie peabody PE-VE2060 20"</h2>
                    </div>
            </article>
            <article class="main__section__article">
                <img class="img" src="/images/Smart TV Philco HD 32'.webp" alt="Smart TV Philco" width="200px">
                    <div class="main__section__article__div">
                        <div class="main__section__article__div--truck">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <h5><del>$50.299</del></h5>
                        <div class="main__section__article__div--precio">
                            <h2>$43.199</h2>
                            <p class="main__section--descuento">14% off</p>
                        </div>
                        <h2 class="main__section--descripcion">Smart TV Philco LED HD 32" 220V</h2>
                    </div>
            </article>
            <article class="main__section__article">
                <img class="img" src="/images/aire acondicionado.webp" alt="Aire acondicionado BGH" width="200px">
                    <div class="main__section__article__div">
                        <div class="main__section__article__div--truck">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <h5><del>$183.999</del></h5>
                        <div class="main__section__article__div--precio">
                            <h2>$167.999</h2>
                            <p class="main__section--descuento">8% off</p>
                        </div>
                        <h2 class="main__section--descripcion">Aire acondicionado BGH Silent Air 3000 frigorías</h2>
                    </div>
            </article>
        </section>
    </main>
    <footer class="footer">
        <section class="footer__section">
            <i class="fa-solid fa-credit-card" ></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section class="footer__section">
            <i class="fa-solid fa-gift"></i>
            <h4>Envío gratis desde $ 2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section class="footer__section">
            <i class="fa-solid fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </section> 
        <section class="footer__section">
            <p> Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section> 
    </footer>
</body>
</html>