<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <script src="https://kit.fontawesome.com/d9eb1b8442.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body>
    <header class="header">
        <img src="/images/logo-mercado-liebre.svg" alt="logo">
        <div class="header__div--cuadro">
            <input type="search" id="busqueda" name="q" placeholder="buscar productos, marcas"/>
        </div>
        <div class="header__div--boton">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <p>
            <i class="fa-solid fa-hand-holding-dollar"></i>
            Comprá en cuotas y sin tarjeta de crédito
        </p>
        <nav class="header__nav">
            <ul class="header__nav--tienda">
                <li><a href="">ofertas</a></li>
                <li><a href="">tiendas oficiales</a></li>
                <li><a href="">vender</a></li>
                <li><a href="">ayuda</a></li>
            </ul>
            <ul class="header__nav--log">
                <li><a href="">crea tu cuenta
                    <i class="fa-regular fa-address-card"></i>
                </a></li>
                <li><a href="">ingresa 
                    <i class="fa-solid fa-right-from-bracket"></i>
                </a></li>
                <li><a href="">mis compras 
                    <i class="fa-solid fa-basket-shopping"></i>
                </a></li>
            </ul>
        </nav>
        <div class="burger-menu" >
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main>
        <!-- benner -->
        <section class="main__section">
            <img class="main__section__img" src="/images/img-home-banner.jpg" alt="" width="100%">
        </section>
    
        <h2>Ultima visita</h2>
        <section class="main__section">
            <article class="main__section__article">
                <img class="img" src="/images/img-cafetera-moulinex.jpg" alt="cafetera moulinex" width="200px">
                <h3>$6.770</h3>
                <p class="main__section--descuento">40% OFF</p>
                <h2 class="main__section--descripcion">Cafetera Moulinex</h2>
            </article>
            <article class="main__section__article">
                <img class="img" src="/images/img-macbook-pro-2019.jpg" alt="MacBook pro" width="200px">
                <h3>$230.000</h3>
                <p class="main__section--descuento">20% off</p>
                <h2 class="main__section--descripcion">MacBook Pro 2019</h2>
            </article>
            <article class="main__section__article">
                <img class="img" src="/images/img-samsung-galaxy-s10.jpg" alt="celular Samsung galaxy s10" width="200px">
                <h3>$70.500</h3>
                <p class="main__section--descuento">10% off</p>
                <h2 class="main__section--descripcion">Samsung Galaxy S10</h2>
            </article>
            <article class="main__section__article">
                <img class="img" src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung" width="200px">
                <h3>$23.200</h3>
                <p class="main__section--descuento">5% off</p>
                <h2 class="main__section--descripcion">SmartTv Samsung 43"</h2>
            </article>
        </section>
    <h2>Ofertas para vos.</h2>
        <section class="main__section">
            <article class="main__section__article">
                <img class="img" src="/images/Motorola Edge 30.webp" alt="Celular Motorola" width="200px">
                <h5><del>$110.999</del></h5>
                <h3>$99.999</h3>
                <p class="main__section--descuento">16% off</p>
                <h2 class="main__section--descripcion">Motorola Edge 30 128 GB gris 8 GB</h2>
            </article>
            <article class="main__section__article">
                <img class="img" src="/images/Ventilador de Pie.webp" alt="Ventilador Peabody" width="200px">
                <h5><del>$15.999</del></h5>
                <h3>$13.999</h3>
                <p class="main__section--descuento">12% off</p>
                <h2 class="main__section--descripcion">Ventilador de pie peabody PE-VE2060 20"</h2>
            </article>
            <article class="main__section__article">
                <img class="img" src="/images/Smart TV Philco HD 32'.webp" alt="Smart TV Philco" width="200px">
                <h5><del>$50.299</del></h5>
                <h3>$43.199</h3>
                <p class="main__section--descuento">14% off</p>
                <h2 class="main__section--descripcion">Smart TV Philco LED HD 32" 220V</h2>
            </article>
        </section>
    </main>
    <footer class="footer">
        <section class="footer__section">
            <i class="fa-solid fa-credit-card" ></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section class="footer__section">
            <i class="fa-solid fa-gift"></i>
            <h4>Envío gratis desde $ 2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section class="footer__section">
            <i class="fa-solid fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </section> 
        <section class="footer__section">
            <p> Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section> 
    </footer>
</body>
</html>